
<section class="content-header">
    <h1>
        Adminstrator
    </h1>
    <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
            <i class="fa fa-user fa-4x icon-round-border"></i>
            <h3>STUDENT MANAGEMENT</h3>
            <hr />
            <hr />
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-check-square bullet-color"></i>Add/Edit Student Details     </li>
                <li><i class="fa-li fa fa-check-square bullet-color"></i>Student Reports</li>

            </ul>

            <a href="#" class="btn btn-info btn-set">ADD STUDENT</a>
        </div>
    </div>
</section>