

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Free Education Template</title>
	<!-- BOOTSTRAP CORE STYLE CSS -->
	<link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css">
	<!-- FONT AWESOME CSS -->
	<link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet" />
	<!-- FLEXSLIDER CSS -->
	<link href="~/Content/assets/css/flexslider.css" rel="stylesheet" />
	<!-- CUSTOM STYLE CSS -->
	<link href="~/Content/assets/css/style.css" rel="stylesheet" />
	<!-- Google	Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />

	<script src="~/Content/assets/js/jquery-1.10.2.js"></script>
	<!--  Core Bootstrap Script -->
	<script src="~/Content/assets/js/bootstrap.js"></script>
	<style>
		@@import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap.css');
 ul.tree {
    display: none;
}
		.label-color,.link-color {
			color:white;
		}

		div,a{
			color:white;
		}
		a {
			width:20%; 
		}

		
	</style>
	<script type="text/javascript">
		$(document).ready(function () {
			$('label.tree-toggler').click(function () {
				var $el = $(this); //references the toggler label element

				$el.parent().children('ul.tree').toggle(300); //show and hide children

				$el.children('i').toggleClass('icon-plus-sign');  //switch icons
				$el.children('i').toggleClass('icon-minus-sign');
			});
		});
	</script>
</head>
<body>
	<div class="container" >
		@*<div class="well">Demonstrating expandable Tree Menu. With glyph icons.</div>*@
		<ul class="nav nav-list">
			<li>
				<label class="tree-toggler nav-header label-color"> <i class='icon-plus-sign'></i>Header 1</label>
				<ul class="nav nav-list tree link-color">
					<li>
						<a href="#">Link 1</a>

					</li>
					<li>
						<a href="#">Link 2</a>

					</li>
					<li>
						<label class="tree-toggler nav-header"> <i class='icon-plus-sign'></i>Header 1.1</label>
						<ul class="nav nav-list tree">
							<li>
								<a href="#" style="width:20% ; ">Link</a>

							</li>
							<li>
								<a href="#">Link</a>

							</li>
							<li>
								<label class="tree-toggler nav-header"> <i class='icon-plus-sign'></i>Header 1.1.1</label>
								<ul class="nav nav-list tree">
									<li>
										<a href="#">Link</a>

									</li>
									<li>
										<a href="#">Link</a>

									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="divider"></li>
			<li>
				<label class="tree-toggler nav-header"><i class='icon-plus-sign'></i>Header 2</label>
				<ul class="nav nav-list tree">
					<li>
						<a href="#">Link</a>

					</li>
					<li>
						<a href="#">Link</a>

					</li>
					<li>
						<label class="tree-toggler nav-header"><i class='icon-plus-sign'></i>Header 2.1</label>
						<ul class="nav nav-list tree">
							<li>
								<a href="#">Link</a>

							</li>
							<li>
								<a href="#">Link</a>

							</li>
							<li>
								<label class="tree-toggler nav-header"><i class='icon-plus-sign'></i>Header 2.1.1</label>
								<ul class="nav nav-list tree">
									<li>
										<a href="#">Link</a>

									</li>
									<li>
										<a href="#">Link</a>

									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<label class="tree-toggler nav-header"><i class='icon-plus-sign'></i>Header 2.2</label>
						<ul class="nav nav-list tree">
							<li>
								<a href="#">Link</a>

							</li>
							<li>
								<a href="#">Link</a>

							</li>
							<li>
								<label class="tree-toggler nav-header"><i class='icon-plus-sign'></i>Header 2.2.1</label>
								<ul class="nav nav-list tree">
									<li>
										<a href="#">Link</a>

									</li>
									<li>
										<a href="#">Link</a>

									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
</html>
