
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>*@
	<style>

		#1:hover {
			background-color: #5bc0de;
		}

		.btn-info:hover
 {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

		@@media only screen and (min-width: 768px) {
 
}

		@@media screen and (max-height: 450px) {
    .list-group {padding-top: 15px;}
    .list-group-item {font-size: 100%;}
}
	</style>
	
</head>
<body>
	<div class="container container-fluid move-me">

		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" style="width:17%;text-align:left;height:55px;background-color:  #1c2b4b; margin-top:4%;  font-size:100%; "><i class="fa fa-user img-responsive" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;STUDENTS</button>
		<div id="demo" class="collapse">
			<div class="list-group" style="width:17% ; background-color:  #1c2b4b;">
				<a href="#" class="list-group-item">
					Cras justo odio
				</a>
				<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
				<a href="#" class="list-group-item">Morbi leo risus</a>
				<a href="#" class="list-group-item">Porta ac consectetur ac</a>
				<a href="#" class="list-group-item">Vestibulum at eros</a>
			</div>
		</div>
	</div>
<br />
	@*<hr />*@
	<div class="container">

		<button type="button" class="btn btn-info" data-toggle="collapse" id="1" data-target="#demo1" style="width:17%;text-align:left;height:55px;margin-top:0%; background-color:  #1c2b4b; "><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FACULTY</button>
		<div id="demo1" class="collapse">
			<div class="list-group" style="width:17%; background-color:  #1c2b4b;">
				<a href="#" class="list-group-item">
					Cras justo odio
				</a>
				<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
				<a href="#" class="list-group-item">Morbi leo risus</a>
				<a href="#" class="list-group-item">Porta ac consectetur ac</a>
				<a href="#" class="list-group-item">Vestibulum at eros</a>
			</div>
		</div>
	</div>
	<br />
	<div class="container">

		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3" style="width:17%;text-align:left;height:55px;margin-top:0%;background-color:  #1c2b4b;  "><i class="fa fa-money" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FEES</button>
		@*<div id="demo3" class="collapse">
			<div class="list-group" style="width:17%; background-color:  #1c2b4b;">
				<a href="#" class="list-group-item">
					Cras justo odio
				</a>
				<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
				<a href="#" class="list-group-item">Morbi leo risus</a>
				<a href="#" class="list-group-item">Porta ac consectetur ac</a>
				<a href="#" class="list-group-item">Vestibulum at eros</a>
			</div>
		</div>*@
	</div>
	<br />
	<div class="container">

		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3" style="width:17%;text-align:left;height:55px;margin-top:0%; background-color:  #1c2b4b; "><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ATTENDANCE</button>
		
	</div>
	<br />
	<div class="container">

		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3" style="width:17%;text-align:left;height :55px;margin-top: 0%; background-color:  #1c2b4b; "><i class="fa fa-bus"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TRANSPORT</button>

	</div>
	<br />
	<div class="container">

		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3" style="width:17%;text-align:left;height :55px;margin-top: 0%; background-color:  #1c2b4b;"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ACADEMICS</button>

	</div>
	<br />
	<div class="container">

		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3" style="width:17%;text-align :left;height :55px;margin-top :0%;background-color:  #1c2b4b;  "><i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   REPORT</button>

	</div>

	<br />
	<div class="container">

		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3" style="width:17%;text-align :left;height :55px;margin-top :0%;background-color:  #1c2b4b;  "><i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   ADMISSION</button>

	</div>



</body>
</html>